.main {
  flex: 1;
}

.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 9rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    & .input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      & label {
        font-weight: bold;
      }

      & input {
        font-size: 1.2rem;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s;
      }
    }

    & .input-remember {
      display: flex;

      & label {
        margin-left: 0.25rem;
      }
    }
    & button[type="submit"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      background-color: #28a745;
      color: #fff;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #218838;
      }
    }

    & .error {
      background-color: rgb(187, 23, 23);
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0 10px 0;
    }
  }